header h1 {
    margin-left: 10px;
    color: #29B1DD;
}
header h6 {
    font-size: 20px;
    margin-right: 10px;
}
select {
    height: 25px;
    font-size: 10px;
    padding: 0.25rem;
}

/* CLASSI GENERALI - BACKGROUND */
.bg-sky {
    background-color: #29B1DD;
}
.bg-lightgrey {
    background-color: #DDDDDD;
}

.icon-container {
    width: 100vw;
    height: 70px;
}
.card-container {
    padding: 10px;
}

.animal-card {
    width: 220px;
    height: 100px;
    background-color: white;
    margin: 5px 30px 5px 5px;
    box-shadow: 10px 10px 13px -4px rgba(0,0,0,0.26);
}
.animal-card i{
    font-size: 50px;
}
/* classi per tipo - JS */

.animal {
    color: blue;
}
.vegetable {
    color: gold;
}
.user {
    color: purple;
}
.animal h6, .vegetable h6, .user h6 {
    color: black;
}