header h1 {
    color: #29B1DD;
}

select {
    height: 15px;
    font-size: 10px;
}

/* CLASSI GENERALI - BACKGROUND */
.bg-sky {
    background-color: #29B1DD;
}
.bg-lightgrey {
    background-color: #DDDDDD;
}

.icon-container {
    width: 100vw;
    height: 70px;
}
.card-container {
    padding: 10px;
}

.animal-card {
    width: 300px;
    height: 100px;
    background-color: white;
    margin: 1px;
}
.animal-card i{
    font-size: 30px;
}
/* classi per tipo - JS */

.animal {
    color: blue;
}
.vegetable {
    color: gold;
}
.user {
    color: purple;
}
.animal h6, .vegetable h6, .user h6 {
    color: black;
}